#myDIV {
    text-align: center;
    padding: 20px 20px 20px 20px;
    position: relative;
    overflow: hidden;
    width: 700px;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 20px;
}

#myFacten, #myFacten2, #myFacten3, #myFacten4, #myFacten5, #myFacten6, #myFacten7 {
  background: #FDF8F4;
  float: center;
  padding: 20px 20px 20px 20px;
  position: relative;
  overflow: hidden;
  width: 700px;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 20px;
}

.myFacten{
    float: left;
}

#myButton {
  padding: 20px 20px 20px 20px;
  position: relative;
  overflow: hidden;
  width: 700px;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 20px;

}
