.mySlides {
    width: 700px;
    margin: 0 auto; /*center-aligned*/
    border-radius: 6px;
    background-color:white;
    position:relative;
    transform: translate3d(0,0,0);
    box-shadow: 0px 1px 5px #999999;
}
